body {
  background-image: linear-gradient(rgb(14, 1, 39), rgb(0, 0, 0), rgb(0, 22, 8));
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: lightskyblue;
  margin: 50px;
  font-family: 'Courier New', Courier, monospace;
  align-items: end;
  text-shadow: rgba(232, 232, 173, 0.543) 5px 5px 10px;
  text-align: end;
  padding-right: 13%;
  min-height: 100vh; /* Add this line to make the background cover the entire viewport height */
}

nav {
    border-radius: 17px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 87%;
    min-width: 200px;
    padding: 50px;
    margin-bottom: 70px;
    background-image: linear-gradient(rgb(0, 39, 5), rgb(0, 0, 0));
}

table thead {
    background-color: rgb(23, 0, 55);
    font-style: italic;
    font-weight: bold;
}

a {
    color: lightskyblue;
}

a:hover {
    color: rgb(188, 117, 255);
}

button {
    background-color: purple;
    color: black;
    border-radius: 7px;
    border: plum 1px solid;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
}

button:hover {
    background-color: rgb(79, 11, 82);
    border: lightskyblue 1px solid;
    color: rgb(209, 179, 245);
}

input, select {
    min-height: 30px;
    border-radius: 7px;
    border: plum 1px solid;
    padding: 10px;
    background-color: black;
    color: lightskyblue;
    font-family: 'Courier New', Courier, monospace;
    text-align: end;
    font-size: 20px;
}

input[type="number"] {
  width: 80px;
}

input:focus {
    background-color: rgb(79, 14, 70);
    border: lightskyblue 1px solid;
    color: wheat;
}

textarea:focus, input:focus{
    outline: none;
}

/* Style The Dropdown Button */
.dropbtn {
    background-color: lightskyblue;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 7px;
    border: plum 1px solid;
    min-width: 260px;
    margin-top: 20px;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #52004e;
    min-width: 160px;
    box-shadow: 4px 8px 16px 0px rgb(114, 29, 100);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: lightskyblue;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    border-radius: 5px;
    margin: 2px;
    border: lightblue 1px solid;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    color: rgb(99, 19, 99);
    background-color: #9fe4f8;
    border-radius: 5px;
    margin: 0px;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 7px;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: rgb(64, 44, 114);
    border: lightskyblue 1px solid;
  }

  
  .splitdiv {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
  }

  .dt-empty {
    color: yellow;
  }

  @media screen and (max-width: 970px) {
    .splitdiv {
      flex-direction: column;
    }

    nav {
      flex-direction: column;
      padding: 20px;
    }
  }